
.primary-card {
  background: linear-gradient(
    to bottom,
    var(--gradients-light-slate-blue),
    var(--gradients-light-royal-blue)
  );
}
.primary-card .score {
  background: linear-gradient(
    to bottom,
    var(--gradients-light-violet-blue),
    var(--gradients-light-presian-blue)
  );
}

.secondary-card button {
  background: linear-gradient(
    to bottom,
    var(--nuetral-dark-gray-blue),
    var(--nuetral-dark-gray-blue)
  );

}
.secondary-card button:hover {
  background: linear-gradient(
    to bottom,
    var(--gradients-light-slate-blue),
    var(--gradients-light-royal-blue)
  );
}
